.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.home-container img {
  width: 100%;
  height: auto;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.home-content-koi,
.home-content-fusion {
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5rem;
}

.home-container h1 {
  color: var(--jazz-blue);
  text-align: center;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .home-content-koi,
  .home-content-fusion {
    width: 80%;
  }

  .home-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 8px;
    align-items: center;
    justify-items: center;
  }

  .home-title-koi {
    grid-column: span 3 / span 3;
  }

  .home-content-koi {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .home-image-koi {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 4;
    grid-row-start: 1;
  }

  .home-title-fusion {
    grid-column: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 6;
  }

  .home-content-fusion {
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 7;
  }

  .home-image-fusion {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 6;
  }
}
