.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.header-logo {
  height: 5rem;
}

.header-menu-icon {
  height: 2rem;
  cursor: pointer;
  transition: 1s;
}

.header-menu-icon:hover {
  scale: 1.2;
  transition: 1s;
}

.header-menu-navbar {
  position: absolute;
  top: 5rem;
  right: 1rem;
  border-radius: 0.2rem;
  background-color: var(--cotton-ball);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  z-index: 1000;
}

.header-menu-navbar a {
  color: var(--black);
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  cursor: pointer;
  transition: 1s;
}

.header-menu-navbar a:hover {
  scale: 1.2;
  transition: 1s;
}

.header-navbar {
  display: none;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header-menu-icon {
    display: none;
  }

  .header-menu-navbar {
    display: none;
  }

  .header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
  }

  .header-navbar a {
    color: var(--black);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    cursor: pointer;
    transition: 1s;
  }

  .header-navbar a:hover {
    scale: 1.2;
    transition: 1s;
  }
}